
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@1&family=Josefin+Sans:ital,wght@0,400;1,700&display=swap');

*{
    margin: 0;
}

body{
    background-color: black;
}

.main_head{
    /* padding: 10px; */
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    color: white;
}

.row{
    width: 40%;
    height: 125px;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.col{
    width: 19%;
    height: 125px;
    /* border: 1px solid black; */
    float: left;
    margin-left: 5px;

}

.row .col:nth-child(1){
    background-color:rgb(102, 102, 102);
    
}

.row .col:nth-child(2){
    background-color: rgb(66, 109, 66);
}

.row .col:nth-child(3){
    background-color: rgb(114, 190, 114);
}

.row .col:nth-child(4){
    background-color: rgb(41, 167, 41);
}

.row .col:nth-child(5){
    background-color:rgb(211, 204, 204);
}

.row_2{
    width: 56%;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
   

.col_2{
    width: 13.6%;
    height: 125px;
    float: left;
    margin-left: 5px;

}

.row_2 .col_2:nth-child(1){
    background-color:rgb(252, 165, 4);
}

.row_2 .col_2:nth-child(2){
    background-color:lightcoral;
}

.row_2 .col_2:nth-child(3){
    background-color:rgb(224, 159, 205);
}

.row_2 .col_2:nth-child(4){
    background-color:rgb(128, 119, 180);
}

.row_2 .col_2:nth-child(5){
    background-color:rgb(72, 57, 158);
}

.row_2 .col_2:nth-child(6){
    background-color:rgb(107, 99, 155);
}

.row_2 .col_2:nth-child(7){
    background-color:rgb(167, 167, 167);
}

.row_3{
    width: 72%;
    height: 125;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.col_3{
    width: 10.37%;
    height: 125px;
    float: left;
    margin-left: 5px;
   
}

.row_3 .col_3:nth-child(1){
    background-color:rgb(159, 238, 238);
}

.row_3 .col_3:nth-child(2){
    background-color:rgb(152, 238, 152);
}

.row_3 .col_3:nth-child(3){
    background-color:rgb(240, 188, 93);
}

.row_3 .col_3:nth-child(4){
    background-color:rgb(182, 45, 129);
}

.row_3 .col_3:nth-child(5){
    background-color:rgb(44, 34, 38);
}

.row_3 .col_3:nth-child(6){
    background-color:aquamarine;
}

.row_3 .col_3:nth-child(7){
    background-color:rgb(119, 197, 119);
}

.row_3 .col_3:nth-child(8){
    background-color:rgb(101, 96, 131);
}

.row_3 .col_3:nth-child(9){
    background-color:rgb(54, 34, 59);
}